@model Cachorro

@{
    ViewData["Title"] = "Cadastro de Cachorros";
}

<section class="section-cadastrar-cachorro">
    <h1>Cadastro de <span class="slogan-home">Cachorro</span></h1>
    <p class="content-alert-sucess" id="alert-message">@TempData["msg"]</p>

    <form asp-action="cadastrar" class="form-content-cachorro">
        <partial name="_Form" />
        <div class="form-content-button">
            <button type="submit" class="button-input" onclick="showConfirmOverlay()">Cadastrar Cachorros</button>
            <a asp-action="index" class="button-input">Lista de Cachorros</a>
        </div>
    </form>
</section>