@{
    ViewData["Title"] = "Página Inicial";
}

<section class="section-cachorro-home">
    <h1>Raças de <span class="slogan-home">Cachorros</span>Para adoção</h1>

    <div class="content-button-home">
        <div class="box-button">
            <a asp-area="" asp-controller="Cachorro" asp-action="Cadastrar"><img src="~/img/ico-cachorro.svg" alt="Icon Company" class="icon-button" /></a>
            <a asp-area="" asp-controller="Cachorro" asp-action="Cadastrar" class="button-link">Cadastrar Cachorros</a>
        </div>
        <div class="box-button">
            <a asp-area="" asp-controller="Cachorro" asp-action="Index"><img src="~/img/ico-listar.svg" alt="Icon Company" class="icon-button" /></a>
            <a asp-area="" asp-controller="Cachorro" asp-action="Index" class="button-link">Listar Cachorros</a>
        </div>
    </div>

</section>